.hero-parent {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: top ;
  background-repeat: no-repeat;
  width: 100%;

  font-family: "Inter", sans-serif;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.code-connect-cteate {

    margin: 100px 0 50px 0;
    font-size: 50px;
    font-weight: bold;
}
.connect {
    font-style: italic;
}

.hero-details {
    max-width: 670px;
    text-align: center;
    margin-bottom: 270px;
}
.reg-btn-hero {
    margin-bottom: 30px;
}
